$text-color: #1f1f1f;
$failed-bg: #ffaaaa;
$completed-bg: #77ff77;
$running-bg: #ccccff;
$queued-bg: #cccccc;

body {
  line-height: 1;
  font-family: Arial, sans-serif;
}

.failed {
    background: $failed-bg;
}

.completed {
    background: $completed-bg;
}

.running {
    background: $running-bg;
}

.queued {
    background: $queued-bg;
}

.queued, .running, .completed, .failed {
    color: $text-color;
}
